{% extends 'layouts/base.html' %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">

        <div class="card">
            <div class="card-body">

                <a role="button" class="btn btn-outline-primary w-100 justify-center fw-bold persian-text mb-3" href="{{ url_for('index') }}">
                    <i class="fa-solid fa-home ms-2 me-0"></i>
                    صفحه اصلی
                </a>

                <button id="download-excel" class="btn btn-primary d-flex fw-bold justify-content-center w-100 persian-text">
                    <i class="fa-solid fa-download ms-2 me-0"></i>
                    دریافت فایل اکسل
                </button>

            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const downloadExcel = async () => {
        try {
            const response = await fetch('{{ url_for('download_excel_file') }}', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({{ data | tojson }})
            });

            if (response.ok) {
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = '{{ report_file_name }}';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            } else {
                alert('خطا در ارسال اطلاعات!');
                console.error('Failed to submit data');
                console.log(response)
            }
        } catch (error) {
            alert('خطایی رخ داده است.');
            console.error('Error:', error);
        }

    }

    document.getElementById('download-excel').addEventListener('click', downloadExcel);
});
</script>
{% endblock extra_js %}