{% extends 'layouts/base.html' %}


{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <div class="mb-3">
                    <i class="feather icon-alert-triangle auth-icon"></i>
                </div>
                <h1 class="text-primary" style="font-size: 5rem">404</h1>
                <h3 class="persian-text justify-center mb-4">شرمنده! این صفحه رو نداریم :(</h3>
                <a class="btn btn-primary text-light shadow-2 w-75 my-3" href="/" role="button">صفحه اصلی</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}