<title>گزارش گیری چهارراه</title>
<!--[if lt IE 11]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description"
      content="گزارش گیری تعداد و نحوه تردد انواع وسایل نقلیه در چهارراه ها" />
<meta name="keywords"
      content="گزارش گیری تردد چهارراه, پروژه ترافیک, پروژه مهندسی عمران, گزارش چهارراه, گزارش 4راه" />
<meta name="author" content="reximi" />

<!-- Favicon icon -->
<link rel="icon" href="{{ url_for('static', path ='assets/images/favicon.ico' )}}" type="image/x-icon">

<!-- fontawesome css -->
<link rel="stylesheet" href="{{ url_for('static', path ='assets/plugins/fontawesome/css/all.min.css' )}}">

<!-- bootstrap css -->
<link rel="stylesheet" href="{{ url_for('static', path ='assets/plugins/bootstrap/css/bootstrap.min.css' )}}">
<!-- bootstrap js -->
<script src="{{ url_for('static', path ='assets/plugins/bootstrap/js/bootstrap.min.js' )}}"></script>

<!-- Vazirmatn font css -->
<link href="{{ url_for('static', path ='assets/fonts/Vazirmatn-FD-font-face.css' )}}" rel="stylesheet" type="text/css" />

<!-- vendor css -->
<link rel="stylesheet" href="{{ url_for('static', path ='assets/css/style.css' )}}">